<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{ product().title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (product().originalprice) {
      <span class="sale-badge">Á Venda</span>
    }

   <div class="price-row">
    @if (product().originalprice) {
      <span class="current-price">{{ product().price }}</span>
      <span class="origial-price">{{ product().originalprice}}</span>
    } @else {
      <span class="current-price">{{ product().description }}</span>
    }
   </div>

   <p class="product-description">{{ product().description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button matButton class="btn-add-cart">{{ addButtonLabel() }}</button>
  </mat-card-actions>
</mat-card>
