mat-card {
  background-color: #ffffff !important;
  border-radius: 12px !important;
  padding: 12px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 380px !important;
  border: 1px solid #eaeaea !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.342) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  box-sizing: border-box !important;
}

mat-card-content {
  padding: 0 !important;
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;

  p {
    font-size: 0.9rem !important;
    color: #4F4F4F;
    line-height: 1.4 !important;
    margin: 10 0 16px 0 !important;
  }

  div, .prices {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 12px !important;
    margin-top: auto !important;
    margin-bottom: 16px !important;

    span:first-child {
      font-size: 0.85rem !important;
      color:#B22222;
      text-decoration: line-through !important;
    }

    span:last-child {
      font-size: 1.35rem !important;
      font-weight: 590 !important;
      color: #191970 !important;
    }
  }
}

mat-card-actions {
  padding: 0 !important;
  margin: 0 !important;
  display: block !important;

  button {
    width: 100% !important;
    height: 44px !important;
    background: linear-gradient(135deg, #1e3c72, #2a5298) !important;
    color: white;
    border-radius: 8px !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    border: none !important;
    cursor: pointer !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.422);

    span {
      color: white !important;
    }

    :hover {
      opacity: 0.9 !important;
    }
  }
}
