//Configuração geral do componente da grade
:host {
  display: block;
  width: 100%;
  background-color: #f8f9fa;
  min-height: 100vh;
}

// 1. CONTAINER DA BARRA DE PESQUISA
.search-container {
  display: flex;
  justify-content: center;
  padding: 32px 24px 16px 24px;
  width: 100%;
}

mat-form-field.search-field {
  width: 100%;
  max-width: 500px;

  .mat-mdc-text-field-wrapper {
    background-color: #ffffff !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.267) !important;
  }

  .mdc-line-ripple {
    display: none !important;
  }
}

.products-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)) !important;
  gap: 24px !important;
  padding: 24px !important;
  max-width: 1200px !important;
  margin: 0 auto !important;

  app-product-card {
    display: block !important;
    width: 100% !important;
    height: auto !important;
  }
}


