mat-toolbar.main-header {
  display: flex !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid #eaeaea !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33) !important;
  padding: 0 24px !important;
  height: 70px !important;
}

.branding {
  font-family: 'Poppins', 'Montserrat', 'Segoe UI', sans-serif !important;
  font-size: 1.6rem !important;
  font-weight: 700 !important;
  letter-spacing: -0.5px !important;
  cursor: pointer !important;
  margin-left: 8px !important;

  background: linear-gradient(135deg, #1e3b72be, #2a529860) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}


.spacer {
  flex: 1 1 auto;
}
